<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "View Component Demo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container mx-auto px-4 py-12">
      <%= link_to "Home", root_path, class: "text-lg font-medium underline mr-2" %>
      <% if user_signed_in? %>
        <%= link_to current_user.name, edit_user_registration_path, class: "text-lg font-medium underline mr-2" %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "text-lg font-medium underline mr-2" %>
      <% end %>
      
      <div class="mt-16">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
